<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
  </div>
</body>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHFPLLxkJq3wU5-TL5Wf3lfGAfB7k7AFY&callback=initMap">
</script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="app.js"></script>